<header class="main-header">
    <div class="top-header">
        <div class="container">
            <div class="top-header-wrap">
                <div class="top-left">
                    <p>Reliable Taxi Service & Transport Solutions!</p>
                </div>
                <div class="top-right">
                    <ul class="top-header-nav">
                        <li><a href="/faqs">Help</a></li>
                        <li><a href="/contact">Support</a></li>
                        <li><a href="/faqs">FAQ</a></li>
                    </ul>
                    <ul class="header-social-share">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!--/.top-header-->
    <div class="mid-header">
        <div class="container">
            <div class="mid-header-wrap">
                <div class="site-logo">
                    <a href="/"><img src="/assets/img/logo-dark.png" alt="Logo"></a>
                </div><!--/.site-logo-->
                <ul class="header-info">
                    <li>
                        <div class="header-info-icon">
                            <i class="las la-phone-volume"></i>
                        </div>
                        <div class="header-info-text">
                            <h3><span>Call us now</span><a href="tel:5267214392">5267-214-392</a></h3>
                        </div>
                    </li>
                    <li>
                        <div class="header-info-icon">
                            <i class="las la-envelope-open"></i>
                        </div>
                        <div class="header-info-text">
                            <h3><span>Email now</span>Info.ridek@mail.com</h3>
                        </div>
                    </li>
                    <li>
                        <div class="header-info-icon">
                            <i class="las la-map-marked-alt"></i>
                        </div>
                        <div class="header-info-text">
                            <h3><span>Halk Street</span>New York, USA - 2386</h3>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div><!--/.mid-header-->
    <div class="nav-menu-wrapper">
        <div class="container">
            <div class="nav-menu-inner">
                <div class="site-logo">
                    <a href="/"><img src="/assets/img/logo-dark.png" alt="Logo"></a>
                </div><!--/.site-logo-->
                <div class="header-menu-wrap">
                    <ul class="nav-menu">
                        <li class="dropdown_menu">
                            <a href="/">Home</a>
                            <ul>
                                <li><a href="/">Home Default</a></li>
                                <li><a href="/home/modern">Home Modern</a></li>
                            </ul>
                        </li>
                        <li class="dropdown_menu">
                            <a href="/about">Company</a>
                            <ul>
                                <li><a href="/about">About Us</a></li>
                                <li><a href="/about/company">About Company</a></li>
                                <li><a href="/services">Our Services</a></li>
                                <li><a href="/services/details">Services Details</a></li>
                                <li><a href="/book-taxi">Book a Ride</a></li>
                            </ul>
                        </li>
                        <li class="dropdown_menu">
                            <a href="/taxi">Our Taxi</a>
                            <ul>
                                <li><a href="/taxi">Taxi Lists</a></li>
                                <li><a href="/taxi/details">Taxi Details</a></li>
                            </ul>
                        </li>
                        <li class="dropdown_menu">
                            <a href="#">Pages</a>
                            <ul>
                                <li><a href="/drivers">Our Drivers</a></li>
                                <li><a href="/drivers/details">Driver Details</a></li>
                                <li><a href="/testimonials">Customer Reviews</a></li>
                                <li><a href="/faqs">Help &amp; Faq's</a></li>
                                <li><a href="/404">404 Error</a></li>
                            </ul>
                        </li>
                        <li class="dropdown_menu">
                            <a href="/blog">Blog</a>
                            <ul>
                                <li><a href="/blog">Grid Posts</a></li>
                                <li><a href="/blog/classic">Classic Posts</a></li>
                                <li><a href="/blog/details">Blog Details</a></li>
                            </ul>
                        </li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="menu-right-item">
                    <div class="search-icon dl-search-icon">
                        <i class="las la-search"></i>
                    </div>
                    <div class="sidebox-icon dl-sidebox-icon">
                        <i class="las la-bars"></i>
                    </div>
                    <a href="/book-taxi" class="menu-btn">Book a Taxi</a>
                </div>
                <div class="mobile-menu-icon">
                    <div class="burger-menu">
                        <div class="line-menu line-half first-line"></div>
                        <div class="line-menu"></div>
                        <div class="line-menu line-half last-line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.nav-menu-->
</header>
<!--/.main-header-->

<div id="popup-search-box">
    <div class="box-inner-wrap d-flex align-items-center">
        <form id="form" action="#" method="get" role="search">
            <input id="popup-search" type="text" name="s" placeholder="Type keywords here...">
            <button id="popup-search-button" type="submit" name="submit">
                <i class="las la-search"></i>
            </button>
        </form>
        <div class="search-close"><i class="las la-times"></i></div>
    </div>
</div>
<!--/.popupsearch-box-->
<div id="searchbox-overlay"></div>

<div id="popup-sidebox" class="popup-sidebox">
    <div class="sidebox-content">
        <div class="site-logo">
            <a href="/"><img src="/assets/img/logo-light.png" alt="logo"></a>
        </div>
        <p>Everything your taxi business needs is already here! Ridek, a theme
            made for taxi service companies.</p>
        <ul class="sidebox-list">
            <li class="call"><span>Call for ride:</span>5267-214-392</li>
            <li>
                <span>You can find us at:</span>Halk Street New York, USA - 2386
            </li>
            <li><span>Email now:</span>Info.ridek@mail.com</li>
        </ul>
    </div>
</div>
<!--/.popup-sidebox-->
<div id="sidebox-overlay"></div>
