<%- include('../../shared/partials/legacy-head') %>
<%- include('../../shared/partials/legacy-header-nav') %>
  <main>
    <h1>Profile</h1>
    <%- include('../../shared/components/alerts', { message: message }) %>
  </main>
  <%- include('../../shared/partials/legacy-footer') %>
