<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../shared/partials/head') %>
</head>
<body>
  <%- include('../../shared/partials/navbar') %>
  <main>
    <h1>Profile</h1>
    <%- include('../../shared/components/alerts', { message: message }) %>
  </main>
  <%- include('../../shared/partials/footer') %>
</body>
</html>
